.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://www.erieinsurance.com/-/media/images/blog/articlephotos/2018/rentalcarlg.ashx");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
