<div class="container">
  <form
    [formGroup]="contactInput"
    (ngSubmit)="onSend()"
    class="d-flex flex-column justify-content-center"
  >
    <label>
      Name:
      <input type="text" formControlName="name" />
    </label>

    <label>
      Subject:
      <input type="text" formControlName="subject" />
    </label>

    <label>
      Message:
      <input type="text" formControlName="message" />
    </label>

    <input type="submit" class="btn btn-primary col-1" value="Send" />
  </form>
</div>
